<nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'agent_list' %}">Agent</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" role="search">
          {% if user.is_authenticated %}
          <button class="btn btn-outline-success mx-5" type="submit"><a href="{% url 'logout' %}" class="nav-link">Log Out</a></button>
          {% else %}
          <button class="btn btn-outline-success mx-5" type="submit"><a href="{% url 'register' %}" class="nav-link">Register</a></button>
          <button class="btn btn-outline-success " type="submit"><a href="{% url 'login' %}" class="nav-link">Login</a></button>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>

  